.top-bg-info{
    background: #46B2E0;
}
.categories img{
    width: 100px;
}
.site-btn-warning {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
} buy-now-button